.table-container {
    /* 테이블 중앙에 위치시키는 css */
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    /*padding:1.5em;*/
    /*background: #f5f5f5;*/
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 70%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    /*table-layout: fixed;*/
}

th {
    /*text-align: left;*/
}

thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
    word-wrap: break-word; /* 셀 안의 긴 단어를 줄 바꿈 */
    /*text-align: center;*/
}
th:first-child, td:first-child {
    width: 15%; /* First Name */
}

th:nth-child(2), td:nth-child(2) {
    width: 40%; /* Last Name */
}

th:nth-child(3), td:nth-child(3) {
    width: 20%; /* Phone */
}

th:nth-child(4), td:nth-child(4) {
    width: 10%; /* Email */
}

th:nth-child(5), td:nth-child(5) {
    width: 10%; /* Date of Birth */
}
td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

a {
    color: #73685d;
}

@media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    th {
        border-bottom: 1px solid #a39485;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }
}
.paging {
    text-align: center;
}

/* Pagination links */
.paging a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.paging a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.paging a:hover:not(.active) {
    background-color: #ddd;
}
/* 부모 컨테이너가 화면 전체를 차지하도록 설정 */
.search-container {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
}
.search-input {
    margin: 0px 10px 0px 10px;
}

/* 검색 폼 내부 요소들을 한 줄에 배치 */
.search-form {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}
.search-button, .search-option,.btn-write {
    background-color: #74685d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.search-form {
    border-radius: 10px;
    margin: 10px;
    width: 50%;
}
#writeBtn{
    width: 30%;
    margin: 0px 10px;
}
.test-container{
    display: flex;
    align-items: center;
}
/*.form {*/
/*    margin: 0 auto; !* 폼을 화면 중앙에 배치합니다 *!*/
/*    padding: 20px; !* 내부 여백을 추가합니다 *!*/
/*    border: 1px solid #ccc; !* 테두리를 추가합니다 *!*/
/*    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); !* 약간의 그림자를 추가합니다 *!*/
/*}*/

.form input[type="text"], .form textarea {
    width: 100%; /* 입력 요소가 폼의 전체 너비를 차지하도록 설정 */
    box-sizing: border-box; /* 패딩과 테두리의 크기를 포함하도록 설정 */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* 약간의 그림자를 추가합니다 */
    margin-bottom: 10px; /* 입력 요소들 사이에 여백을 추가 */
}
.form pre {
    max-width: 100%; /* 코드 블록의 최대 너비를 설정 */
    overflow: auto; /* 코드 블록이 폼의 크기를 넘을 경우 스크롤바를 추가 */
    background-color: #f5f5f5; /* 코드 블록의 배경색을 설정 */
    padding: 10px; /* 내부 여백을 추가 */
    border: 1px solid #ddd; /* 테두리를 추가 */
}
