* {box-sizing: border-box}

/* Add padding to containers */
.form-container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #dddddd9c;
}
input[type=text] {
    display: block;
    width: 100%;
    margin-top: 10px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Set a style for the submit/register button */
.registerBtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerBtn:hover {
    opacity:1;
}
/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
body {
    display: flex;
    width: 30%;
    margin: auto;
}
.form-group {
    margin: auto;
    border-radius: 10px;
    border: 1px solid gray;
}
.button {
    padding: 5px 10px;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.idForm {
    display: flex;
    align-items: center; /* 수평 정렬을 맞추기 위해 추가 */
}

.idForm label {
    margin: 0; /* 불필요한 여백 제거 */
}

.idForm .button-container {
    margin-left: auto; /* 버튼을 오른쪽으로 이동 */
}
span {
    color: red;
}
