.updateList {
    margin: 20px 100px;
}
h3 {
    margin: 0px 40px;
}
h4 {
    margin: 10px 30px;
}
/* Style the buttons that are used to open and close the accordion panel */
/* Accordion 버튼 스타일 */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s, max-height 0.4s;
}
/* 활성화된 버튼 및 호버 상태 */
.accordion.active, .accordion:hover {
    background-color: #ccc;
}
/* 패널 스타일 */
.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px 70px;
}
/* 패널 내용 스타일 */
.panel h5 {
    margin: 10px 0;
}
/* 아코디언에 아이콘 추가 */
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
/* 활성화된 아코디언 아이콘 변경 */
.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}