<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.myapp.utiles.FileMapper">

    <insert id="insertFileInfo" parameterType="com.project.myapp.dto.FilesDTO">
        INSERT INTO files
                    (original_name   ,  stored_name  , file_type    , file_size    , file_path    , uploaded_at , user_id)
        VALUES
                    (#{original_name},#{stored_name} , #{file_type} , #{file_size} , #{file_path} , now() , #{id})
    </insert>

    <delete id="deleteFileInfoByStoredName" parameterType="string">
        DELETE
          FROM files
         WHERE stored_name = #{stored_name}
    </delete>

    <select id="getFileNoKey" parameterType="string" resultType="int">
        SELECT FILE_NO
          FROM FILES
         WHERE FILE_PATH = #{file_path}
    </select>

    <select id="selectKey" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="updateFileInfo" parameterType="com.project.myapp.dto.FilesDTO">
        UPDATE FILES
           SET  category_no = #{category_no}
               ,post_no = #{post_no}
         WHERE FILE_NO = #{file_no}
    </update>
</mapper>