<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.atoz.board.dao.MemberMapper">

    <select id="memberList" resultMap="MemberResultMap">
        /** 여기 실행된거 맞나*/
        SELECT *
        FROM mymember
    </select>

    <select id="idCheck" parameterType="string" resultType="int">
        SELECT EXISTS(
            SELECT MEM_ID
             FROM MYMEMBER
             WHERE MEM_ID = #{MEM_ID}
        )
    </select>

    <select id="getMember" parameterType="string" resultMap="MemberResultMap">
        SELECT MEM_ID , MEM_PASS, MEM_NAME , MEM_TEL , MEM_ADDR
          FROM MYMEMBER
         WHERE MEM_ID = #{MEM_ID}
    </select>

    <insert id="save" parameterType="com.project.atoz.dto.TestMember">
        INSERT INTO MYMEMBER(MEM_ID , MEM_PASS, MEM_NAME, MEM_TEL, MEM_ADDR)
              VALUES (#{MEM_ID} , #{MEM_PASS}, #{MEM_NAME}, #{MEM_TEL}, #{MEM_ADDR})
    </insert>

    <resultMap id="MemberResultMap" type="com.project.atoz.dto.TestMember">
        <result property="MEM_ID" column="MEM_ID"/>
        <result property="MEM_PASS" column="MEM_PASS"/>
        <result property="MEM_NAME" column="MEM_NAME"/>
        <result property="MEM_TEL" column="MEM_TEL"/>
        <result property="MEM_ADDR" column="MEM_ADDR"/>
        <result property="MEM_PHOTO" column="MEM_PHOTO"/>
    </resultMap>
</mapper>