<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.myapp.register.dao.RegisterMapper">

    <select id="idCheck" resultType="int" parameterType="string">
        SELECT EXISTS(SELECT id
                      FROM user_info
                      WHERE id = #{id})
    </select>

    <select id="findById" parameterType="string" resultType="com.project.myapp.dto.UserDTO">
     SELECT  id
             ,pwd as password
             ,nickName
             ,email
             ,role
             ,type
             ,provider
             ,providerId
             ,status
             ,profile
             ,createDate
        FROM user_info
       WHERE id = #{id}
    </select>

    <select id="findByEmail" parameterType="string" resultType="com.project.myapp.dto.UserDTO">
        SELECT id, email
          FROM user_info
         WHERE email = #{email}
    </select>

    <select id="findByProviderAndProviderId" parameterType="map" resultType="com.project.myapp.dto.UserDTO">
        SELECT  id
               ,pwd as password
               ,nickName
               ,email
               ,role
               ,type
               ,provider
               ,providerId
               ,status
               ,profile
               ,createDate
          FROM user_info
         WHERE provider = #{provider}
           AND providerId = #{providerId}
    </select>

    <insert id="insertUser" parameterType="com.project.myapp.dto.UserDTO">
        INSERT INTO user_info(id, pwd, nickname, email)
        VALUES (#{id}, #{password}, #{nickName}, #{email})
    </insert>

    <insert id="insertMember" parameterType="com.project.myapp.dto.MemberDTO">
        INSERT INTO member(mem_id, name, phone)
        VALUES (#{id}, #{name}, #{phoneNo})
    </insert>

    <insert id="insertAuth" parameterType="com.project.myapp.dto.UserAuth">
        INSERT INTO user_auth(id)
        VALUES (#{id})
    </insert>

    <insert id="save" parameterType="com.project.myapp.dto.UserDTO">
        INSERT INTO user_info(id, pwd, nickname, email, provider, providerId)
        VALUES (#{id}, #{password}, #{nickName}, #{email}, #{provider}, #{providerId})
    </insert>

    <update id="updateUser" parameterType="com.project.myapp.dto.UserDTO">
        UPDATE user_info
           SET  id         = #{id}
               ,pwd        = #{password}
               ,nickname   = #{nickName}
               ,email      = #{email}
               ,type       = #{type}
               ,status     = #{status}
               ,profile    = #{profile}
               ,role       = #{role}
               ,provider   = #{provider}
               ,providerId = #{providerId}
               ,createDate = #{createDate}
         WHERE  id = #{id}
    </update>
</mapper>